.header {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    padding: 8px 16px;
}

.content {
    min-height: calc(100vh - 85px);
    display: flex;
}

.category {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
    flex: 1 0 280px;
    max-width: 300px;
    display: flex;
    flex-direction: column;

    &__title {
        background-color: gold;
        margin: 0 0 12px;
        text-align: center;
        font-size: 18px;
        padding: 6px;
        border-radius: 4px;
        cursor: pointer;
    }

    &.transparent {
        opacity: 0.7;
    }

    &__remove {
        width: 60px;
        padding: 6px;
        border: 2px solid red;
        color: red;
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        margin: auto auto 0;
        cursor: pointer;
    }
}

.tasks {
    height: 100%;

    &__create {
        display: block;
        width: 100%;
        text-align: center;
        background-color: white;
        color: green;
        padding: 7px;
        border: 2px solid green;
        cursor: pointer;
        border-radius: 6px;
        margin-bottom: 16px;
    }
}

.addButton {
    width: 100%;
    display: block;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    box-shadow: none;
    border-radius: 7px;
}
