<header class="header">Tasks management</header>

<section class="content"
         cdkDropList
         [cdkDropListData]="categories"
         [cdkDropListOrientation]="'horizontal'"
         (cdkDropListDropped)="dropCategory($event)">
    <div class="category"
         *ngFor="let category of categories"
         cdkDropListGroup
         cdkDrag
         cdkDragLockAxis="x"
    >
        <h4 class="category__title">
            {{category.title}}
        </h4>
        <div cdkDropList
             id="{{category.id}}"
             [cdkDropListConnectedTo]="getConnectionList()"
             [cdkDropListData]="taskItems[category.id]"
             (cdkDropListDropped)="dropTask($event)"
             class="tasks">
            <app-task *ngFor="let task of taskItems[category.id]"
                      cdkDrag
                      [routerLink]="['/edit', category.id]"
                      [task]="task"
                      (click)="setActiveTask(task)"
            (delete)="deleteTask(category.id, task.id)">
            </app-task>
            <button class="tasks__create"
                    [routerLink]="['/add', category.id]">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <div class="category__remove"
        (click)="removeCategory(category.id)">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <div class="category"
         [ngClass]="{'transparent': !showCreateCategoryForm}"
    >
        <app-create-category-form *ngIf="showCreateCategoryForm; else plusButton"
                                  (cancel)="showCreateCategoryForm = false"
                                  (create)="addNewCategory($event)"
        ></app-create-category-form>

        <ng-template #plusButton>
            <button class="addButton"
                    (click)="showCreateCategoryForm = true">
                Add category
            </button>
        </ng-template>
    </div>
</section>

<router-outlet></router-outlet>
