.header {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    padding: 8px 16px;
}

.content {
    height: calc(100vh - 60px);
    display: flex;
}

.category {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
    flex: 1 0 280px;
    max-width: 300px;

    &__title {
        background-color: lightcoral;
        margin: 0 0 12px;
        text-align: center;
        font-size: 18px;
        padding: 6px;
        border-radius: 4px;
    }

    &.transparent {
        opacity: 0.7;
    }

}

.tasks {
    height: 100%;
}

.addButton {
    width: 100%;
    display: block;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    box-shadow: none;
    border-radius: 7px;
}
