.task {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 6px;
    background-color: azure;
    user-select: none;
    cursor: pointer;
    position: relative;

    &:hover {
        .task__delete {
            display: block;
        }
    }

    &__delete {
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 18px;
        color: red;
        display: none;
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
    }

    &__text {
        margin-top: 7px;
    }
}
